<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGaWTv1JZa78WH4TlIo06CrAQVD8-qTM4</string>
	<key>GCM_SENDER_ID</key>
	<string>231461584653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.icodegram</string>
	<key>PROJECT_ID</key>
	<string>i-codegram-z</string>
	<key>STORAGE_BUCKET</key>
	<string>i-codegram-z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231461584653:ios:7bff78cb674c18e0333a44</string>
</dict>
</plist>