<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAVXhpNPLpG2yuT53ZKQzRIrhPdXzSMLk</string>
	<key>GCM_SENDER_ID</key>
	<string>581613992527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lessonDay31Flutter</string>
	<key>PROJECT_ID</key>
	<string>lesson-day-29-flutter-manduul</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson-day-29-flutter-manduul.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581613992527:ios:2047566fed252646be083a</string>
</dict>
</plist>